.oil-list
  display: flex
  flex-direction: column
  gap: var( --air )

  .oil-card
    flex: 1
    display: flex
    flex-direction: column
    padding: var( --air )
    gap: var( --air )
    border-radius: var( --size-2x )

    background: var( --oil-card-background )
    color: var( --oil-card-color )

    .header
      display: flex
      gap: var( --air )
      cursor: pointer

      .icon
        align-self: flex-start
        width: 105px
        border-radius: var( --size-2x )

      .title
        flex: 1
        display: flex
        flex-direction: column

        h1
          font-size: var( --size-4x )

        i
          font-size: var( --size-2x )

        .note
          font-size: var( --size-2x )

    .tags
      display: flex
      gap: calc( var( --air ) * 0.5 )
      flex-wrap: wrap

      li
        background: var( --tag-background )
        color: var( --tag-color )
        padding: calc( var( --air ) * 0.7 )
        font-size: var( --size-2x1 )
        border-radius: var( --size )

    &:nth-child(even)

      .header
        flex-direction: row-reverse

    &:nth-child(odd)
      .header
        .title
          align-items: end

@media screen and (max-width: 375px)
  .oil-list

    .oil-card
      .header
        .title
          h1
            font-size: var( --size-3x5 )

@media screen and (max-width: 310px )
  .oil-list

    .oil-card
      .header
        .title
          h1
            font-size: var( --size-2x8 )
